/.vscode
/checkpoint_ep100_Maksigma_net_v2.pth
/checkpoint_ep100_Maksigma_net_v2_fast.pth
/checkpoint_ep100_maksigma_norm.pth
/checkpoint_ep100_Maksigma_slow.pth
/checkpoint_ep100_Maksigma_slow2.pth
/checkpoint_ep100_norm.pth
/checkpoint_ep100_norm_2.pth
/checkpoint_ep100_norm_3.pth
/checkpoint_ep200_Maksigma2.pth
/checkpoint_ep200_Maksigma_net_v2.pth
/checkpoint_ep200_norm.pth
/checkpoint_ep400_Maksigma_net_v2.pth
/Maksigma_net_ravnykh.pth
/__pycache__
*.pyc
*.cpython-313.pyc
*.pth
!Maksigma_net_ravnykh_2.pth
simulation_profile.prof
